<!DOCTYPE html>

<html  lang="ko">
<head>
  <title>소정'S 토익학원</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block header %}
  {% endblock header %}
</head>

<body bgcolor="#ff00ff" text="#000000" link="blue" vlink="#00ff00" alink="rgb(0,0,255)">
<nav class="navbar navbar-inverse">
   <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="#">토익뿌셔</a>
     </div>
     <ul class="nav navbar-nav">
       <li class="active"><a href="http://127.0.0.1:5000">Home</a></li>
       <li><a href="http://127.0.0.1:5000/class_call">수업소개</a></li>
       <li><a href="http://127.0.0.1:5000/student_call">학생관리</a></li>
       <li><a href="http://127.0.0.1:5000/bootstrap1">개인조회</a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><a href="http://127.0.0.1:5000/regist"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
       <li><a href="http://127.0.0.1:5000/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     </ul>
  </div>
</nav>
{% block title %}
{% endblock title%}

{% block contents %}
{% endblock contents%}

{% block explain_contents %}
    내용이 있다고 하더라도
{% endblock explain_contents%}

{#<center> !!!토익을 뿌시자!!! <br>#}
{#  <h3>소정'S 토익학원 </h3></center>#}

</body>
</html>