{% extends "base.html" %}
{% block header %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>학생관리</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.structure.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.theme.min.css') }}" />
  <style>
  .event_selected {
    background-color: red;
  }
  </style>

  <script src="{{ url_for('static',filename='jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='moment/moment.min.js') }}"></script>
  <script src="{{ url_for('static',filename='jquery-ui/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static',filename='moment/moment.min.js') }}"></script>
  <script>
  $(document).ready(function() {
    $('#insertBtn').click(function(){
      $.ajax({
        url : '{{url_for('studentAct')}}',
        type : 'post',
        data : $('#myForm').serialize(),
        success : function(res){
          let data = JSON.parse(res);
          if(data.rows > 0){
            alert('입력완료');
            location.reload();
          }
          else{
            alert('실패');
          }
        }
      });
    });



  });
  </script>
{% endblock header %}

{% block explain_contents %}
  <h5>학생관리 테이블 </h5>
  <table>
   <form name="myForm" id="myForm">
    <tr>
      <td> 이름 : <input type="text"   id="name1" name="name1"  size="10"></td>
      <td> 나이 : <input type="text"   id="age1"  name="age1"   size="10"></td>
      <td> 학교 : <input type="text"   id="school1"  name="school1"   size="10"></td>
      <td> 수강번호 : <input type="text"   id="cl_num1"  name="cl_num1"   size="10"></td>
      <td> 참고 : <input type="hidden" id="id1"   name="id5"    size="10"></td>
      <td> <button type="button" id="insertBtn"> "학생  등록"</button> </td>
    </tr>
   </form>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th>번호</th> <th>이름</th><th>나이</th> <th>학교</th> <th>수강번호</th>
      </tr>
    </thead>
    <tbody>
     {% for student in object_list %}
    <tr>
         <td>{{ student[0] }}</td>  <td>{{ student[1] }} </td> <td>{{ student[2] }}</td>  <td>{{student[3] }}</td>
         <td>{{student[4] }}</td>  <td>{{student[5] }} </td>
         <td><button type="button" id="updateBtn{{ student[0] }}" name= '{{ student[0] }}'>강좌 수정</button></td>
   <script>
    $('#updateBtn{{ student[0] }}').click(function(){

      $('#id1').val($(this).attr("name"));

      $.ajax({
     url : '{{url_for('studentAct')}}',
     type : 'put',
     data : $('#myForm').serialize() ,
     success : function(res){
       let data = JSON.parse(res);
       if(data.rows > 0){
      alert('수정완료');
      location.reload();
       }
       else{
      alert('실패');
       }
     }
      });
    });
   </script>

{#         <td>{{ sungjuk[0] }}</td>#}
         <td><button type="button" id="deleteBtn{{ student[0] }}" title='성적' name= '{{ student[0] }}'>학생 삭제</button></td>
<script>
   $('#deleteBtn{{ student[0] }}').click(function(){
    if( confirm( $(this).attr("name") + "데이터를 삭제하시겠습니까")){
      $.ajax({
        url : "{{url_for('studentAct')}}",
        type : 'delete',
        data : {id: $(this).attr("name")},
        success : function(res){
       let data = JSON.parse(res);
       if(data.rows > 0){
         alert('삭제완료');
         location.reload();
       }
       else{
         alert('실패');
       }
        }
     });
     }
   });
   </script>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock explain_contents %}