{%  extends "base.html" %}
{%  block explain_contents %}

    <table border="1" width="300" bgcolor="#04FF08" height="150">
    <caption> 학생 점수표 </caption>
    <thead>
    <tr>
        <th> 이름 </th> <th> 나이 </th> <th> 점수 </th>
    </tr>
    </thead>

    <tr>
        <td>철수</td>  <td>23세</td>  <td>70점</td>
    </tr>
    <tr>
        <td>영희</td>  <td>21세</td>   <td>89점</td>
    </tr>
    </table>

    <table border="1" width="600" bgcolor="#0fff0f" height="400" align="center" bordercolor="blue" cellspacing="0">
        <tr align="center">
            <td colspan=2>1</td><td colspan=2>2</td><td width=50>3</td>
            <td width=50>4</td><td width=50>5</td><td width=50>6</td>
        </tr>
        <tr align="center">
            <td width=50>7</td><td width=50>8</td>  <td width=50>9</td>
            <td width=50>10</td><td rowspan=3>11</td><td colspan=2>12</td>
            <td width=50>13</td>
        </tr>
        <tr align="center">
            <td colspan=4>14</td> <td>15</td> <td colspan=2 rowspan=2>16</td>
        </tr>
        <tr align="center">
            <td>17</td><td>18</td><td>19</td><td>20</td><td>21</td>
        </tr>
    </table>
    <CENTER>
        <b>테이블연습</b>
        <table border="10" bordercolor="green" cellpadding="20" cellspacing="10" width="300"
               height="200" bgcolor="magenta">
            <tr>
                <td align="center" valign="center" background="b2.gif">
                    <img src="{{ url_for('static', filename="hi.gif")}}" width="200" height="150" border="3">
                </td>
            </tr>
        </table>
        <hr>
        <table border="2" width="400" bordercolor="#ff00ff" cellspacing="0">
            <tr align="center">
                <td> &nbsp; </td>
                <td width="300"> &nbsp; </td>
                <td> &nbsp; </td>
   </tr>
   <tr align="center">
        <td> &nbsp; </td>
        <td>
               <table border="2" width="300" cellspacing="0">
                   <tr align="center">
                         <td> 안쪽 표1 </td>
                         <td> 안쪽 표2  </td>
                   </tr>
                   <tr align="center">
                         <td> 안쪽 표3 </td>
                         <td> 안쪽 표4  </td>
                   </tr>
                   <tr align="center">
                         <td> 안쪽 표5 </td>
                         <td> 안쪽 표6  </td>
                   </tr>
              </table>
        </td>
        <td> &nbsp; </td>
   </tr>
   <tr align="center">
        <td> &nbsp; </td>
        <td> &nbsp; </td>
        <td> &nbsp; </td>
   </tr>
</table>
</CENTER>
{%  endblock explain_contents %}